body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px
}

.title {
    font-weight: lighter;
}

.main-img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px lightgray;
}

.container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.metadata {
    padding: 0% 2%;
}

h3 {
    font-size: 17px;
    font-weight: lighter;
}

a {
    color: #007185;}

h4 {
    font-size: 18px;
}

.ratings-img {
    width: 150px;
}

.content {
    font-size: 17px;}

/* .border-blue {
    border: 1px dotted blue;
} */